/*Flex Framework*/
.main_flex {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  
  .main_flex__nowrap {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  
  .main_flex_column {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  .main_flex_column_nw {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
  .flex__auto {
    flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
  }
  
  .flex__jcontent_between {
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }
  
  .flex__jcontent_start {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
  }
  
  .flex__jcontent_end {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
  }
  
  .flex__jcontent_center {
    justify-content: center;
    -webkit-justify-content: center;
  }
  
  .flex__jcontent_around {
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  
  .flex__align-items_start {
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }
  
  .flex__align-items_end {
    align-items: flex-end;
    -webkit-align-items: flex-end;
  }
  
  .flex__align-items_baseline {
    align-items: baseline;
    -webkit-align-items: baseline;
  }
  
  .flex__align-items_stretch {
    align-items: stretch;
    -webkit-align-items: stretch;
  }
  
  .flex__align-items_center {
    align-items: center;
    -webkit-align-items: center;
  }
  
  .flex__align-content_flex-start {
    align-content: flex-start;
    -webkit-align-content: flex-start;
  }
  
  .flex__align-content_flex-end {
    align-content: flex-end;
    -webkit-align-content: flex-end;
  }
  
  .flex__align-content_space-between {
    align-content: space-between;
    -webkit-align-content: space-between;
  }
  
  .flex__align-content_center {
    align-content: center;
    -webkit-align-content: center;
  }
  
  .flex__align-content_space-around {
    align-content: space-around;
    -webkit-align-content: space-around;
  }
  
  .flex__align-content_stretch {
    align-content: stretch;
    -webkit-align-content: stretch;
  }
  
  .flex__flex-grow_01 {
    flex-grow: 1;
    -webkit-flex-grow: 1;
  }
  
  .flex__flex-grow_02 {
    flex-grow: 2;
    -webkit-flex-grow: 2;
  }
  
  .flex__flex-grow_03 {
    flex-grow: 3;
    -webkit-flex-grow: 3;
  }
  
  .flex__flex-grow_04 {
    flex-grow: 4;
    -webkit-flex-grow: 4;
  }

  /* Подкючаю шрифт Lato */
  @import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap&subset=latin-ext');

/* Начало общих стилей */
  body {
      margin: 0;
      font-family: Lato;
      height: 100vh;
  }
  .Portfolio {
      margin: 0 auto;
      width: 1020px;
      height: 870px;
      background-color: #2d303a;
  }
  header {
      /* height: 157px; */
      padding-left: 40px;
      margin-bottom: 10px;
  }
  header .title {
    width: 119px;
    /* height: 23px; */
    /* overflow: hidden; */
    margin-top: 70px;
    margin-bottom: 23px;
    
  }
  h1 {
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    letter-spacing: .015ex;
    line-height: 23px;
  } 
  .text {
    margin: 0 0 0px 0px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #767e9e;
    letter-spacing: -.024ex;
  }
  .wrap {
    margin-top: 0px;
    padding-left: 40px;
  }
  .btn_gallery {
    margin-bottom: 18px;
  }
  .btn_gallery a {
    margin-left: 1px;
  }
  .btn_gallery button {
    margin-right: 6px;
    padding: 3px 7px 2px 7px;
    font-size: 12.5px;
    background-color: #2d303a;
    color: #767e9e;
    border-radius: 4px;
    border: 1px solid #767e9e;
    letter-spacing: -.11ex;
  }
  .btn_gallery  button, button:active, button:focus {
    outline: none;
    cursor: pointer;
}
.btn_gallery button:active {
  border: 1px solid #ffffff;
}
.gallery {
  height: 621px;
  overflow: hidden;
}
.block_images {
  max-width: 220px;
  max-height: 187px;
  margin: 0 20px 20px 0;
}
.block_images:hover {
  border: 1px solid #d31414;
  max-width: 218px;
  max-height: 185px;
}
.line {
  position: relative;
  bottom: -48px;
  width: 1020px;
  height: 6px;
  background-color: #323746;
}
.About {
  margin: 0 auto;
  width: 1020px;
  padding-top: 72px;
  height: 654px;
  background-color: #f2f2f2;;
}
.About  h2 {
  margin: 0;
  margin-left: 40px;
  font-size: 30px;
  line-height: 17px;
  font-weight: 900;
  color: #666d89;
  letter-spacing: -.015ex;
}
.About  h3 {
  margin-left: 40px;
  margin-top: 25px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: #767e9e;
  letter-spacing: -.01ex;
}
.photo_gallery {
  padding-left: 40px;
  margin-top: 45px;
  margin-bottom: 70px;
}
.block_id {
  width: 300px;
  height: 300px;
  margin-right: 19px;
}
.photo_id {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 20px;
}
.photo_id img:hover {
  width: 310px;
  height: 310px;
  cursor: pointer;
}
.block_id:nth-child(2) {
  margin-right: 20px;
}
.name_id {
  font-size: 18px;
  line-height: 17px;
  font-weight: 900;
  color: #666d89;
  margin-bottom: 10px;
}
.text_id {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: #767e9e;
  margin-bottom: 23px;
}
.icons_id {
  padding-left: 1px;
}
.icons {
width: 30px;
height: 30px;
border: 1.0px solid #666d89;
border-radius: 100%;
margin-right: 8px;
}
.icons:hover {
  width: 25px;
height: 25px;
border: 1.0px solid #102ea3;
}
.icons img {
  margin: auto;
}
.line2 {
width: 1020px;
height: 6px;
background-color: #ffffff;
}
