/*Flex Framework*/
.main_flex {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  
  .main_flex__nowrap {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  
  .main_flex_column {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  .main_flex_column_nw {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
  .flex__auto {
    flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
  }
  
  .flex__jcontent_between {
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }
  
  .flex__jcontent_start {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
  }
  
  .flex__jcontent_end {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
  }
  
  .flex__jcontent_center {
    justify-content: center;
    -webkit-justify-content: center;
  }
  
  .flex__jcontent_around {
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  
  .flex__align-items_start {
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }
  
  .flex__align-items_end {
    align-items: flex-end;
    -webkit-align-items: flex-end;
  }
  
  .flex__align-items_baseline {
    align-items: baseline;
    -webkit-align-items: baseline;
  }
  
  .flex__align-items_stretch {
    align-items: stretch;
    -webkit-align-items: stretch;
  }
  
  .flex__align-items_center {
    align-items: center;
    -webkit-align-items: center;
  }
  
  .flex__align-content_flex-start {
    align-content: flex-start;
    -webkit-align-content: flex-start;
  }
  
  .flex__align-content_flex-end {
    align-content: flex-end;
    -webkit-align-content: flex-end;
  }
  
  .flex__align-content_space-between {
    align-content: space-between;
    -webkit-align-content: space-between;
  }
  
  .flex__align-content_center {
    align-content: center;
    -webkit-align-content: center;
  }
  
  .flex__align-content_space-around {
    align-content: space-around;
    -webkit-align-content: space-around;
  }
  
  .flex__align-content_stretch {
    align-content: stretch;
    -webkit-align-content: stretch;
  }
  
  .flex__flex-grow_01 {
    flex-grow: 1;
    -webkit-flex-grow: 1;
  }
  
  .flex__flex-grow_02 {
    flex-grow: 2;
    -webkit-flex-grow: 2;
  }
  
  .flex__flex-grow_03 {
    flex-grow: 3;
    -webkit-flex-grow: 3;
  }
  
  .flex__flex-grow_04 {
    flex-grow: 4;
    -webkit-flex-grow: 4;
  }

  /* Подкючаю шрифт Lato */
  @import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap&subset=latin-ext');

/* Начало общих стилей */
  body {
    margin: 0;
    font-family: Lato;
}
#wrapper {
    margin: 0 auto;
    width: 1020px;
}
.line {
    height: 6px;
    z-index: 5;
    width: 100%;
    position: relative;
}



/* Стили для HEADER */
header {
    background-color: #2d303a;
    width: 100%;
    /* height: 89px; */
}
header .line {
    background-color: #323746;
}
header .content {
    /* width: 100%; */
    height: 89px;
    padding: 0px 40px 0 40px;
    font-weight: 700;
    /* line-height: 6.32px; */
    color: #ffffff;
}
nav {
    width: 371px;
    margin-top: 15px;
}
nav li {
    /* height: auto; */
    list-style-type: none;
    font-size: 11.5px;
    text-transform: uppercase;
}
nav li a {
  cursor: pointer;
  font-size: 12px;
  line-height: 6px;
  font-weight: 700;
}
nav li a:hover {
  background-color: #70708f;
}
.block_style {
  /* display: block; */
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #494e62;
  z-index: 8;
}
.red_text {
    color: #f06c64;;
}
.logo {
  font-size: 24px;
  height: 20px;
  margin-top: 4px;
  padding: 0;
  text-transform: uppercase;
}

/* Конец стилей для HEADER */


/* Стили для Main */
main {
    background-color: #f06c64;
}
main .content {
    height: 558px;
    padding-bottom: 36px;
}
main .line {
    background-color: #ea676b;
}
.chevLeft {
  margin-left: 38px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #f06c64;
  border: none;
  /* outline: none; */
}
.chevLeft img, .chevRight img {
width: 16px;
height: 27px;
}
.phone1 {
  width: 215px;
  height: 458px;
  margin-left: 47px;
  margin-top: 5px;
  border-radius: 25px;
  background-color: #f2f2f2;
  box-shadow:
  1px 0px rgb(208,95,88), 1px 1px rgb(208,95,88),
  2px 1px rgb(207,94,87), 2px 2px rgb(207,94,87),
  3px 2px rgb(206,93,86), 3px 3px rgb(206,93,86),
  4px 3px rgb(205,92,85), 4px 4px rgb(205,92,85),
  5px 4px rgb(204,91,84), 5px 5px rgb(204,91,84),
  6px 5px rgb(203,90,83), 6px 6px rgb(203,90,83),
  7px 6px rgb(202,89,82), 7px 7px rgb(202,89,82),
  8px 7px rgb(201,88,81), 8px 8px rgb(201,88,81),
  9px 8px rgb(200,87,80), 9px 9px rgb(200,87,80),
  10px 9px rgb(199,86,79), 10px 10px rgb(199,86,79),
  11px 10px rgb(198,85,78), 11px 11px rgb(198,85,78),
  12px 11px rgb(197,84,77), 12px 12px rgb(197,84,77),
  13px 12px rgb(196,83,76), 13px 13px rgb(196,83,76),
  14px 13px rgb(195,82,75), 14px 14px rgb(195,82,75),
  15px 14px rgb(194,81,74), 15px 15px rgb(194,81,74),
  16px 15px rgb(193,80,73), 16px 16px rgb(193,80,73),
  17px 16px rgb(192,79,72), 17px 17px rgb(192,79,72),
  18px 17px rgb(191,78,71), 18px 18px rgb(191,78,71),
  19px 18px rgb(190,77,70), 19px 19px rgb(190,77,70),
  20px 19px rgb(189,76,69), 20px 20px rgb(189,76,69),
  21px 20px rgb(188,75,68), 21px 21px rgb(188,75,68),
  22px 21px rgb(187,74,67), 22px 22px rgb(187,74,67),
  23px 22px rgb(186,73,66), 23px 23px rgb(186,73,66),
  24px 23px rgb(185,72,65), 24px 24px rgb(185,72,65),
  25px 24px rgb(184,71,64), 25px 25px rgb(184,71,64);
}
.phone1 .display1 {
  width: 188px;
  height: 333px;
  margin-top: 22px;
  background: url( assets/bg_phone_1.png);
  border: 4px solid #c5c5c5;
}
.cam {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 15px auto 0;
  background-color: #d8d8d8;
}
.cam .infra {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: auto;
  background-color: #f06c64;
}
.volum {
  width: 36px;
  height: 5px;
  border-radius: 20px;
  background-color: #acacac;
  margin-top: 10px;
}
.home {
  width: 43px;
  height: 43px;
  margin-top: 7px;
  border-radius: 50%;
  background-color: #fafafa;
}
.home  img {
  margin: auto;
}
.phone2 {
  width: 458px;
  height: 215px;
  margin-left: 98px;
  margin-top: 2px;
  border-radius: 25px;
  text-align: center;
  background-color: #f2f2f2;
  box-shadow:
  1px 0px rgb(208, 95, 88), 1px 1px rgb(208, 95, 88),
  2px 1px rgb(220,92,89), 2px 2px rgb(220,92,89),
  3px 2px rgb(219,91,88), 3px 3px rgb(219,91,88),
  4px 3px rgb(218,90,87), 4px 4px rgb(218,90,87),
  5px 4px rgb(217,89,86), 5px 5px rgb(217,89,86),
  6px 5px rgb(216,88,85), 6px 6px rgb(216,88,85),
  7px 6px rgb(215,87,84), 7px 7px rgb(215,87,84),
  8px 7px rgb(214,86,83), 8px 8px rgb(214,86,83),
  9px 8px rgb(213,85,82), 9px 9px rgb(213,85,82),
  10px 9px rgb(212,84,81), 10px 10px rgb(212,84,81),
  11px 10px rgb(211,83,80), 11px 11px rgb(211,83,80),
  12px 11px rgb(210,82,79), 12px 12px rgb(210,82,79),
  13px 12px rgb(209,81,78), 13px 13px rgb(209,81,78),
  14px 13px rgb(208,80,77), 14px 14px rgb(208,80,77),
  15px 14px rgb(207,79,76), 15px 15px rgb(207,79,76),
  16px 15px rgb(206,78,75), 16px 16px rgb(206,78,75),
  17px 16px rgb(205,77,74), 17px 17px rgb(205,77,74),
  18px 17px rgb(204,76,73), 18px 18px rgb(204,76,73),
  19px 18px rgb(203,75,72), 19px 19px rgb(203,75,72),
  20px 19px rgb(202,74,71), 20px 20px rgb(202,74,71),
  21px 20px rgb(201,73,70), 21px 21px rgb(201,73,70),
  22px 21px rgb(200,72,69), 22px 22px rgb(200,72,69),
  23px 22px rgb(199,71,68), 23px 23px rgb(199,71,68),
  24px 23px rgb(198,70,67), 24px 24px rgb(198,70,67),
  25px 24px rgb(197,69,66), 25px 25px rgb(197,69,66);
}
.phone2 .cam {
  margin: 0 0 1px 10px;
}
.phone2 .volum {
  width: 5px;
  height: 36px;
  margin-left: 19px;
  margin-top: 1px;
}
.phone2 .display2 {
  width: 333px;
  height: 188px;
  margin-left: 7px;
  background: url( assets/bg_phone_2.png);
  border: 4px solid #c5c5c5;
}
.phone2 .home {
  margin-left: 8px;
  margin-top: 0px;
}
.chevRight {
  margin-left: 77px;
  margin-top: 27px;
  cursor: pointer;
  background-color: #f06c64;
  border: none;
}



/* Стили для .services */
.services {
    height: 500px;
    background-color: #f2f2f2;
}
.services .content {
    height: 494px;
}
h1 {
  color: #666d89;
  font-size: 30px;
  line-height: 17px;
  font-weight: 900;
  color: #666d89;
  margin: 0;
  margin-left: 41px;
  margin-top: 71px;
}
.text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: #767e9e;
  margin: 28px 0 45px 41px;
}
.blockIcons {
  width: 940px;
  height: auto;
  margin: 0 auto;
  padding-left: 2px;
}
.icons {
  width: 299px;
  height: auto;
}
.icons:nth-child(-n+3) {
  margin-bottom: 35px;
}
.iconsImg {
  width: 55px;
  height: 55px;
  border: 2.0px solid #666d89;
  border-radius: 50%;
  flex-shrink: 0;
}
.iconsImg img {
  margin: auto;
}
.blockText {
  width: auto;
}
.blockText h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 17px;
  font-weight: 900;
  color: #666d89;
}
.blockText p {
  color: #767e9e;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.56px;
  margin: 0 auto;
  padding-left: 20px;
  text-align: justify;
}
.services .line {
    background-color: #ffffff;
}