/*Flex Framework*/
.main_flex {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.main_flex_rev {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row-reverse wrap;
  flex-flow: row-reverse wrap ;
}

.main_flex__nowrap {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.main_flex_column {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
}
.main_flex_column_nw {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.flex__auto {
  flex: auto;
  -webkit-flex: auto;
  -ms-flex: auto;
}

.flex__jcontent_between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flex__jcontent_start {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.flex__jcontent_end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.flex__jcontent_center {
  justify-content: center;
  -webkit-justify-content: center;
}

.flex__jcontent_around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.flex__align-items_start {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}

.flex__align-items_end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.flex__align-items_baseline {
  align-items: baseline;
  -webkit-align-items: baseline;
}

.flex__align-items_stretch {
  align-items: stretch;
  -webkit-align-items: stretch;
}

.flex__align-items_center {
  align-items: center;
  -webkit-align-items: center;
}

.flex__align-content_flex-start {
  align-content: flex-start;
  -webkit-align-content: flex-start;
}

.flex__align-content_flex-end {
  align-content: flex-end;
  -webkit-align-content: flex-end;
}

.flex__align-content_space-between {
  align-content: space-between;
  -webkit-align-content: space-between;
}

.flex__align-content_center {
  align-content: center;
  -webkit-align-content: center;
}

.flex__align-content_space-around {
  align-content: space-around;
  -webkit-align-content: space-around;
}

.flex__align-content_stretch {
  align-content: stretch;
  -webkit-align-content: stretch;
}

.flex__flex-grow_01 {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

.flex__flex-grow_02 {
  flex-grow: 2;
  -webkit-flex-grow: 2;
}

.flex__flex-grow_03 {
  flex-grow: 3;
  -webkit-flex-grow: 3;
}

.flex__flex-grow_04 {
  flex-grow: 4;
  -webkit-flex-grow: 4;
}

.flex__order_01 {
  order: 1;
  -webkit-order: 1;
}

.flex__order_02 {
  order: 2;
  -webkit-order: 2;
}

.flex__order_03 {
  order: 3;
  -webkit-order: 3;
}

.flex__order_04 {
  order: 4;
  -webkit-order: 4;
}

.flex__order_05 {
  order: 5;
  -webkit-order: 5;
}

.flex__order_06 {
  order: 6;
  -webkit-order: 6;
}
/*Flex Framework_end*/

/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-size: 100%;
  outline: 0 none;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
address,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
menu,
nav,
section,
summary {
  display: block;
}
a,
a:hover,
button,
button:hover,
.anime,
.small_btn,
.btn:hover .small_btn {
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
button {
  cursor: pointer;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
*/ a,
a:hover,
button,
button:hover,
.anime {
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  cursor: pointer;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* Reset_end*/

/* Начало общих стилей */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  min-height: 100vh;
}
.wrapper {
  margin: 0 auto;
  width: 1020px;
}
.wrapper2 {
  margin: 0 auto;
  width: 1020px;
  padding-left: 40px;
  padding-right: 32px;
}

/* Стили для HEADER */
header {
  background-color: #2d303a;
  width: 100%;
  border-bottom: 6px solid #323746;
  height: 95px;
  position: fixed;
  top: 0;
  z-index: 6;
}

header .content {
  /* width: 100%; */
  height: 89px;
  padding: 0px 40px 0 40px;
  font-weight: 700;
  color: #ffffff;
}
.hamburger {
  height: 20px;
  width: 25px;
  margin-left: 20px;
  display: none;
}
.hamburger a {
  height: 100%;
  width: 100%;
}
.hamburger .l1, .hamburger .l2, .hamburger .l3 {
  width: 25px;
  height: 2.4px;
  border-radius: 5px;
  background-color: #FFFFFF;;
}








nav {
  width: 371px;
  margin-top: 12px;
  
}
nav ul {
  width: 100%;
}
nav li {
  /* height: auto; */
  list-style-type: none;
  font-size: 11.5px;
  text-transform: uppercase;
}
nav li a {
  cursor: pointer;
  font-size: 12px;
  line-height: 6px;
  font-weight: 700;
  color: #ffffff;
}
.block_style {
  /* display: block; */
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #494e62;
  z-index: 8;
}
.red_text {
  color: #f06c64;
}
.logo {
  font-size: 24px;
  margin-top: 12px;
  padding: 0;
  line-height: 6px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.2px;
  font-weight: 600;
}
.logo .red_text {
  font-weight: 400;
  font-size: 26px;
}
/* Конец стилей для HEADER */

/* Стили для .slide */
#slide {
  background-color: #f06c64;
  width: 100%;
   
  border-bottom: 6px solid #ea676b;
  margin-top: 95px;
}
.slide_wrap {
  width: 1020px;
  height: 600px;
  
  overflow: hidden;
  
}
.ekran {
  width: 2040px;
  position: relative;
  left: 0;
  right: 0;
  transition: all ease 1s;
}
.ekran::after {
  content: "";
  display: block;
  clear: both;
}
.slide {
  height: 100%;
  width: 1020px;
  padding-bottom: 84px;
  padding-top: 52px;
  float: left;
}
.slide2 {
  background: #648bf0;
}
.chevLeft {
  position: absolute;
  margin-top: 280px;
  margin-left: 36px;
  cursor: pointer;
  border: none;
  z-index: 5;
  background: rgba(0, 206, 209, 0);
}
.chevRight {
  position: absolute;
  margin-top: 280px;
  margin-left: 958px;
  cursor: pointer;
  border: none;
  z-index: 5;
  background: rgba(0, 206, 209, 0);
}
.chevLeft img,
.chevRight img {
  width: 16px;
  height: 27px;
}
.slide2 > .phone1 {
  margin: 0;
  box-shadow: 25px 25px rgba(9, 9, 9, 0.14);
}
.slide2 > .big_phone .display1 {
  background: url(assets/phone-vertical-display.png);
}
.slide2 > .small_phone {
  height: 297px;
  width: 140px;
}
.slide2 > .small_phone .cam {
  height: 5.8px;
  width: 5.8px;
  margin: 0;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
.slide2 > .small_phone .cam .infra {
  height: 2.6px;
  width: 2.6px;
  margin: 0;
}
.slide2 > .small_phone .volum {
  height: 3.5px;
  width: 23.5px;
  margin: 0;
}
.slide2 > .small_phone .display1 {
  height: 216.5px;
  width: 122.5px;
  margin: 0;
}
.slide2 > .small_phone .home {
  height: 27.2px;
  width: 27.2px;
  margin: 0;
}
.phone1 {
  width: 215px;
  height: 458px;
  margin-left: 112px;
  /* margin-top: 5px; */
  border-radius: 25px;
  background-color: #f2f2f2;
  box-shadow: 1px 0px rgb(208, 95, 88), 1px 1px rgb(208, 95, 88),
    2px 1px rgb(207, 94, 87), 2px 2px rgb(207, 94, 87), 3px 2px rgb(206, 93, 86),
    3px 3px rgb(206, 93, 86), 4px 3px rgb(205, 92, 85), 4px 4px rgb(205, 92, 85),
    5px 4px rgb(204, 91, 84), 5px 5px rgb(204, 91, 84), 6px 5px rgb(203, 90, 83),
    6px 6px rgb(203, 90, 83), 7px 6px rgb(202, 89, 82), 7px 7px rgb(202, 89, 82),
    8px 7px rgb(201, 88, 81), 8px 8px rgb(201, 88, 81), 9px 8px rgb(200, 87, 80),
    9px 9px rgb(200, 87, 80), 10px 9px rgb(199, 86, 79),
    10px 10px rgb(199, 86, 79), 11px 10px rgb(198, 85, 78),
    11px 11px rgb(198, 85, 78), 12px 11px rgb(197, 84, 77),
    12px 12px rgb(197, 84, 77), 13px 12px rgb(196, 83, 76),
    13px 13px rgb(196, 83, 76), 14px 13px rgb(195, 82, 75),
    14px 14px rgb(195, 82, 75), 15px 14px rgb(194, 81, 74),
    15px 15px rgb(194, 81, 74), 16px 15px rgb(193, 80, 73),
    16px 16px rgb(193, 80, 73), 17px 16px rgb(192, 79, 72),
    17px 17px rgb(192, 79, 72), 18px 17px rgb(191, 78, 71),
    18px 18px rgb(191, 78, 71), 19px 18px rgb(190, 77, 70),
    19px 19px rgb(190, 77, 70), 20px 19px rgb(189, 76, 69),
    20px 20px rgb(189, 76, 69), 21px 20px rgb(188, 75, 68),
    21px 21px rgb(188, 75, 68), 22px 21px rgb(187, 74, 67),
    22px 22px rgb(187, 74, 67), 23px 22px rgb(186, 73, 66),
    23px 23px rgb(186, 73, 66), 24px 23px rgb(185, 72, 65),
    24px 24px rgb(185, 72, 65), 25px 24px rgb(184, 71, 64),
    25px 25px rgb(184, 71, 64);
}
.phone1 .display1 {
  width: 194px;
  height: 340px;
  margin-top: 22px;
  background: url(assets/bg_phone_1.png);
  border: 3px solid #c5c5c5;
  border-radius: 4px;
}
.cam {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 15px auto 0;
  background-color: #d8d8d8;
}
.cam .infra {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: auto;
  background-color: #f06c64;
}
.volum {
  width: 36px;
  height: 5px;
  border-radius: 20px;
  background-color: #acacac;
  margin-top: 10px;
}
.home {
  width: 43px;
  height: 43px;
  margin-top: 7px;
  border-radius: 50%;
  background-color: #fafafa;
}
.home img {
  margin: auto;
}
.phone2 {
  width: 458px;
  height: 215px;
  margin-left: 98px;
  margin-top: 2px;
  border-radius: 25px;
  text-align: center;
  background-color: #f2f2f2;
  box-shadow: 1px 0px rgb(208, 95, 88), 1px 1px rgb(208, 95, 88),
    2px 1px rgb(220, 92, 89), 2px 2px rgb(220, 92, 89), 3px 2px rgb(219, 91, 88),
    3px 3px rgb(219, 91, 88), 4px 3px rgb(218, 90, 87), 4px 4px rgb(218, 90, 87),
    5px 4px rgb(217, 89, 86), 5px 5px rgb(217, 89, 86), 6px 5px rgb(216, 88, 85),
    6px 6px rgb(216, 88, 85), 7px 6px rgb(215, 87, 84), 7px 7px rgb(215, 87, 84),
    8px 7px rgb(214, 86, 83), 8px 8px rgb(214, 86, 83), 9px 8px rgb(213, 85, 82),
    9px 9px rgb(213, 85, 82), 10px 9px rgb(212, 84, 81),
    10px 10px rgb(212, 84, 81), 11px 10px rgb(211, 83, 80),
    11px 11px rgb(211, 83, 80), 12px 11px rgb(210, 82, 79),
    12px 12px rgb(210, 82, 79), 13px 12px rgb(209, 81, 78),
    13px 13px rgb(209, 81, 78), 14px 13px rgb(208, 80, 77),
    14px 14px rgb(208, 80, 77), 15px 14px rgb(207, 79, 76),
    15px 15px rgb(207, 79, 76), 16px 15px rgb(206, 78, 75),
    16px 16px rgb(206, 78, 75), 17px 16px rgb(205, 77, 74),
    17px 17px rgb(205, 77, 74), 18px 17px rgb(204, 76, 73),
    18px 18px rgb(204, 76, 73), 19px 18px rgb(203, 75, 72),
    19px 19px rgb(203, 75, 72), 20px 19px rgb(202, 74, 71),
    20px 20px rgb(202, 74, 71), 21px 20px rgb(201, 73, 70),
    21px 21px rgb(201, 73, 70), 22px 21px rgb(200, 72, 69),
    22px 22px rgb(200, 72, 69), 23px 22px rgb(199, 71, 68),
    23px 23px rgb(199, 71, 68), 24px 23px rgb(198, 70, 67),
    24px 24px rgb(198, 70, 67), 25px 24px rgb(197, 69, 66),
    25px 25px rgb(197, 69, 66);
}
.phone2 .cam {
  margin: 0 0 1px 10px;
}
.phone2 .volum {
  width: 5px;
  height: 36px;
  margin-left: 20px;
  margin-top: 1px;
}
.phone2 .display2 {
  width: 339px;
  height: 194px;
  margin-left: 7px;
  background: url(assets/bg_phone_2.png);
  border: 3px solid #c5c5c5;
  border-radius: 4px;
}
.phone2 .home {
  margin-left: 8px;
  margin-top: 0px;
}

/* Стили для .services */
.services {
  width: 100%;
  height: 500px;
  background-color: #f2f2f2;
}
.services .content {
  width: 100%;
}
.none {
  display: none;
}
.title_servis {
  color: #666d89;
  font-size: 28px;
  line-height: 17px;
  font-weight: bold;
  color: #666d89;
  margin: 0;
  margin-left: 41px;
  margin-top: 71px;
  letter-spacing: 1.3px;
}
.text_servis {
  font-size: 18px;
  line-height: 30px;
  /* font-weight: 100; */
  color: #767e9e;
  margin: 28px 0 45px 41px;
  text-align: left;
  word-spacing: 1%;
  letter-spacing: 1%;
}
.blockIcons_servis {
  width: 940px;
  height: auto;
  margin: 0 auto;
  padding-left: 2px;
}
.icons_servis {
  width: 299px;
  height: auto;
}
.icons_servis:nth-child(-n + 3) {
  margin-bottom: 33px;
}
.iconsImg {
  width: 59px;
  height: 59px;
  border: 2px solid #666d89;
  border-radius: 50%;
  flex-shrink: 0;
}
.iconsImg:hover {
  transform: scale(0.9);
  transition: all 0.75s ease;

  /* transform: skewX(15deg); */
}
.iconsImg img {
  margin: auto;
}
.blockText {
  width: 100%;
}
.blockText h3 {
  margin: 0px 0 10px 0;
  padding-bottom: 0px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 17px;
  font-weight: 900;
  color: #666d89;
  text-align: left;
}
.blockText p {
  color: #767e9e;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.56px;
  margin: 0 auto;
  padding-left: 20px;
  text-align: justify;
}
/* Стили блока Portfolio */
#Portfolio > .wrapper {
  padding-left: 40px;
  /* margin-bottom: 10px; */
}
#Portfolio {
  width: 100%;
  background-color: #2d303a;
  padding-top: 64px;
  border-bottom: 6px solid #323746;
}
.title {
  margin-bottom: 18px;
}
.title h2 {
  color: #666d89;
  font-size: 28px;
  font-weight: bold;
  color: #666d89;
  letter-spacing: 1.8px;
}
.text {
  margin: 0px 0 9px 0px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: #767e9e;
  letter-spacing: -0.34px;
}

.btn_gallery {
  margin-bottom: 19px;
}
.btn_gallery a {
  margin-left: 1px;
}
.btn_gallery button {
  margin-right: 6px;
  padding: 0px 7px 0px 7px;
  font-size: 12px;
  background-color: #2d303a;
  color: #767e9e;
  border-radius: 5px;
  border: 1px solid #767e9e;
  letter-spacing: -0.07px;
  word-spacing: -2.3px;
  line-height: 20px;
  font-weight: 400;
  z-index: 4;
}
.btn_gallery button,
button:active,
button:focus {
  outline: none;
  cursor: pointer;
}
.btn_gallery_active {
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
}
.gallery {
  margin-bottom: 48px;
  padding-right: 20px;
}
.block_images {
  max-width: 220px;
  max-height: 187px;
  margin: 0 20px 20px 0;
}
.block_images img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.block_images_border {
  border: 5px solid #F06C64;
}
/* Стили блока About */
#About {
  width: 100%;
  padding-top: 72px;
  height: 734px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}
#About h2 {
  margin: 0;
  margin-left: 40px;
  font-size: 30px;
  line-height: 17px;
  font-weight: 900;
  color: #666d89;
  letter-spacing: 0.01ex;
}
#About h3 {
  margin-left: 40px;
  margin-top: 25px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: #767e9e;
  letter-spacing: -0.01ex;
}
.photo_gallery {
  padding-left: 40px;
  margin-top: 44px;
  /* margin-bottom: 70px; */
}
.block_id {
  width: 29.41vw;
  margin-right: 1.96vw;
}
.block_id:nth-child(3) {
  margin-right: 0;
}
.photo_id {
  max-width: 29.41vw;
  max-height: 29.41vw;
  margin-bottom: 20px;
}
.photo_id img {
  max-width: 100%;
  max-height: 100%;
}
.photo_id img:hover {
  transform: scale(1.04);
  cursor: pointer;
  transition: all 0.5s ease;
}
.block_id:nth-child(2) {
  margin-right: 21px;
}
.name_id {
  font-size: 18px;
  line-height: 17px;
  font-weight: 900;
  color: #666d89;
  margin-bottom: 10px;
  letter-spacing: 0.2px;
}
.text_id {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: #767e9e;
  margin-bottom: 22px;
}
.icons_id {
  padding-left: 1px;
}
.icons {
  width: 32px;
  height: 32px;
  border: 1px solid #666d89;
  border-radius: 100%;
  margin-right: 8px;
}
.icons:hover {
  cursor: pointer;
  transition: all 0.75s ease;
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  /* Поворачиваем на 20 градусов против часовой стрелки */
  transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
}
.icons img {
  margin: auto;
}

#GetQuote {
  background-color: #f06c64;
  padding-top: 60px;
}
.title {
  margin-bottom: 16px;
}
#GetQuote .title h2 {
  color: #f0d8d9;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -0.1px;
}
#GetQuote .text {
  font-size: 18px;
  font-weight: 300;
  color: #f0d8d9;
  line-height: 30px;
  letter-spacing: -0.2px;
  word-spacing: 0.5px;
}
.container {
  margin-top: 42px;
  margin-bottom: 58px;
}
.form {
  margin-right: 1.96vw;
}
.container form {
  width: 620px;
}
.container form input,
.container form textarea {
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  border-radius: 5px;
  background-color: #d6564f;
  border: none;
  padding-left: 8px;
}
.container form textarea {
  height: 202px;
  padding-top: 10px;
}
.container form button {
  height: 38px;
  width: 13.33vw;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #886A30;
  line-height: 30px;
  background-color: #FBC65F;;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}
.container .form input::placeholder,
.container form textarea::placeholder {
  color: #f48c8f;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  padding-left: 7px;
  word-spacing: -1px;
}
.container form textarea::placeholder {
  font-size: 9px;
  /* word-spacing: -1px;
  letter-spacing: 5; */
}
.container input:invalid {
  border: 1px dashed rgb(255, 0, 34);
}
/* .container input:valid {
  border: 1px solid rgb(5, 36, 207);
} */
.contakt_info {
  width: 300px;
}
.contakt_info h3 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 900;
  color: #f0d8d9;
  margin-bottom: 7px;
}
.contakt_info_text {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: #f0d8d9;
  margin-bottom: 20px;
  text-align: justify;
  /* word-wrap: break-word; */
}
.contakt {
  margin-top: 23px;
}
.contakt a {
  color: #f0d8d9;
}
.contakt div {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: #f0d8d9;
  margin-bottom: 10px;
  height: 13px;
}
.contakt div:first-child {
  height: 11px;
}
.contakt div:first-child img {
  margin-left: 2px;
}
.contakt div img {
  max-height: 100%;
  margin-right: 12px;
  padding-left: 2px;
  height: 100%;
}
.contakt div:last-child img {
  width: 15px;
  height: 8px;
  margin-right: 10px;
}
footer {
  width: 100%;
  height: 76px;
  background-color: #2d303a;
}
.icons_id {
  padding-left: 1px;
  height: auto;
}
.icons {
  width: 32px;
  height: 32px;
  border: 1px solid #666d89;
  border-radius: 100%;
  margin-right: 8px;
}
.icons img {
  margin: auto;
}
.h100 {
  height: 100%;
}
.copirite {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: #666d89;
  word-spacing: -1px;
  padding-left: 2px;
}
.line_GetQuote {
  height: 6px;
  background-color: #ea676b;
  z-index: 6;
}
.message_form {
  display: none;
  position: fixed;
  min-height: 250px;
  height: auto;
  width: 400px;
  left: calc(50% - 200px);
  top: calc(50% - 125px);
  font-size: 18px;
  z-index: 10;
  background: #353535;
  color: #d8d8d8;
  border-radius: 25px;
  padding: 10px;
}
.message_form p {
  margin-bottom: 15px;
  margin-left: 25px;
  font-size: 24px;
}
.closed {
  width: 100%;
}
.closed img {
  cursor: pointer;
  border-radius: 10px;
}
.closed img:hover {
  background: #f2f2f2;
}
.body-bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(109, 107, 107, 0.9);
  background-color: #100707a6;
  z-index: 9;
}
/* Responsive_начало */

 @media (min-width: 768px) and (max-width: 1020px) {

  .wrapper {
    width: 768px;
    margin: 0 auto;
  }
  .wrapper2 {
    width: 768px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #slide {
    height: 447.25px;
    margin-top: 95px;
  }
  .slide_wrap {
    width: 768px;
    height: 447.25px;
  }
  .slide {
    width: 768px;
    padding-bottom: 62px;
    padding-top: 40.97px;
    height: auto;
  }
  .ekran {
    height: 100%;
  }
  .slide2 {
    display: none;
  }
    .chevLeft {
    margin-top: 201.68px;
    margin-left: 29.42px;
  }
  .chevRight {
    margin-top: 201.68px;
    margin-left: 725.14px;
  }
  .phone1 {
    width: 162.36px;
    height: 344.26px;
  }
  .phone1 .display1 {
    width: 141.55px;
    height: 250.73px;
    margin-top: 15.82px;
  }
  .cam {
    width: 6.67px;
    height: 6.67px;
    margin-top: 12.39px;
  }
  .cam .infra {
    width: 2.96px;
    height: 2.96px;
  }
  .volum {
    width: 27.06px;
    height: 3.76px;
    margin-top: 7.98px;
  }
  .home {
    width: 31.48px;
    height: 31.48px;
    margin-top: 5.05px;
  }
  .home img {
    margin: auto;
  }
  .phone2 {
    width: 344.26px;
    height: 162.36px;
    margin-left: 73.29px;
  }
  .phone2 .cam {
    margin: 0 0 1px 10px;
  }
  .phone2 .volum {
    width: 3.76px;
    height: 27.06px;
  }
  .phone2 .display2 {
    width: 250.73px;
    height: 141.55px;
  }
  .slide2 > .small_phone {
    height: 225px;
    width: 115px;
    border-radius: 20px;
  }
  .slide2 > .small_phone .cam {
    height: 5.8px;
    width: 5.8px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slide2 > .small_phone .cam .infra {
    height: 2.6px;
    width: 2.6px;
  }
  .slide2 > .small_phone .volum {
    height: 3px;
    width: 22px;
  }
  .slide2 > .small_phone .display1 {
    height: 150.5px;
    width: 96px;
    margin: 0;
  }
  .slide2 > .small_phone .home {
    height: 20px;
    width: 20px;
    margin: 0;
  }
  .services {
    height: auto;
  }
  .text_servis  {
    margin: 18px 44px 0px 40px;
  }
  .title_servis {
    line-height: 26px;
    margin-top: 59px;
  }
  .blockIcons_servis {
    width: auto;
    height: auto;
    margin: 35px 74px 60px 41px;
    padding-left: 2px;
}
.gallery {
  padding-right: 8px;
}
#Portfolio > .wrapper {
  padding-left: 40px;
  margin-bottom: 10px;
}
#About {
  height: auto;
}
#About h2, #About h3 {
  margin: 0 auto;
  width: 92.15vw;
  margin-bottom: 44px;
}
.photo_gallery {
  width: 92.15vw;
  padding-left: 0;
  margin: 0 auto;
  margin-bottom: 75px;
}
#GetQuote > div.wrapper2 > div.container {
  justify-content: center;
  margin-bottom: 39.21px;
}
#GetQuote .title, #GetQuote .text {
  width: 92.15vw;
  margin: 0 auto;
}
#GetQuote .title {
  margin-bottom: 16px;
}
.container form {
  width: 60.78vw;
}
.contakt_info {
  width: 29.41vw;
}
.copirite {
  margin-left: 42px;
}
body > footer > div > div.icons_id {
  margin-right: 42px;
}
}
@media (min-width: 375px) and (max-width: 767px) {

  .wrapper {
    width: auto;
  }
  .wrapper2 {
    width: auto;
    /* padding-left: 40px;
    padding-right: 32px; */
  }
  header {
    height: 71px;
  }
  header > .wrapper {
    height: 100%;
  }
  header .content {
    width: auto;
    height: 100%;
    padding: 0;
    justify-content: start;
  }
  header .content nav {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    height: 100vh;
    background-color: #2d303a;
    width: 278px;
    
  }
  header .content nav ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 6;
  }
  header .content nav .hamburger-display {
    display: block;
  }
  .hamburger {
    display: block;
    z-index: 10;
  } 
  .logo {
    margin-top: 0;
    margin-left: 103px;
    line-height: 24px;
    font-size: 20px;
  }
  #slide {
    height: auto;
    margin-top: 71px;
  }
  .slide_wrap {
    width: 375px;
    height: auto;
  }
  .slide {
    width: 375px;
    padding-bottom: 30.28px;
    padding-top: 20.01px;
    height: auto;
  }
  .ekran {
    height: 100%;
  }
  .slide2 {
    display: none;
  }
    .chevLeft {
    margin-top: 98.45px;
    margin-left: 10.25px;
  }
  .chevRight {
    margin-top: 98.45px;
    margin-left: 337.69px;
  }
  .phone1 {
    width: 79.28px; 
    height: 168.1px;
    margin-left: 40.92px;
    border-radius: 12.5px;
    box-shadow: 1px 0px rgb(208, 95, 88), 1px 1px rgb(208, 95, 88), 2px 1px rgb(220, 92, 89), 2px 2px rgb(220, 92, 89), 3px 2px rgb(219, 91, 88), 3px 3px rgb(219, 91, 88), 4px 3px rgb(218, 90, 87), 4px 4px rgb(218, 90, 87), 5px 4px rgb(217, 89, 86), 5px 5px rgb(217, 89, 86), 6px 5px rgb(216, 88, 85), 6px 6px rgb(216, 88, 85), 7px 6px rgb(215, 87, 84), 7px 7px rgb(215, 87, 84), 8px 7px rgb(214, 86, 83), 8px 8px rgb(214, 86, 83), 9px 8px rgb(213, 85, 82), 9px 9px rgb(213, 85, 82), 10px 9px rgb(212, 84, 81), 10px 10px rgb(212, 84, 81), 11px 10px rgb(211, 83, 80), 11px 11px rgb(211, 83, 80), 12px 11px rgb(210, 82, 79), 12px 12px rgb(210, 82, 79);
  }
  .phone1 .display1 {
    width: 69.12px;
    height: 122.43px;
    margin-top: 8.89px;
  }
  .cam {
    width: 3.26px;
    height: 3.26px;
    margin-top: 6.05px;
  }
  .cam .infra {
    width: 1.44px;
    height: 1.44px;
  }
  .volum {
    width: 13.21px;
    height: 1.83px;
    margin-top: 3.9px;
  }
  .home {
    width: 15.37px;
    height: 15.37px;
    margin-top: 2.47px;
  }
  .home img {
    margin: auto;
  }
  .phone2 {
    width: 168.1px;
    height: 79.28px;
    margin-left: 35.78px;
    border-radius: 12.5px;
    box-shadow: 1px 0px rgb(208, 95, 88), 1px 1px rgb(208, 95, 88), 2px 1px rgb(220, 92, 89), 2px 2px rgb(220, 92, 89), 3px 2px rgb(219, 91, 88), 3px 3px rgb(219, 91, 88), 4px 3px rgb(218, 90, 87), 4px 4px rgb(218, 90, 87), 5px 4px rgb(217, 89, 86), 5px 5px rgb(217, 89, 86), 6px 5px rgb(216, 88, 85), 6px 6px rgb(216, 88, 85), 7px 6px rgb(215, 87, 84), 7px 7px rgb(215, 87, 84), 8px 7px rgb(214, 86, 83), 8px 8px rgb(214, 86, 83), 9px 8px rgb(213, 85, 82), 9px 9px rgb(213, 85, 82), 10px 9px rgb(212, 84, 81), 10px 10px rgb(212, 84, 81), 11px 10px rgb(211, 83, 80), 11px 11px rgb(211, 83, 80), 12px 11px rgb(210, 82, 79), 12px 12px rgb(210, 82, 79);
  }
  .phone2 >.volum {
    margin-left: 7.72px;
  }
  .phone2 > .home {
    margin-left: 3.07px;
  } 
  .phone2 .volum {
    width: 1.83px;
    height: 13.21px;
  }
  .phone2 .display2 {
    width: 122.43px;
    height: 69.12px;
    margin-left: 3.88px;
  }
  .slide2 > .small_phone {
    height: 225px;
    width: 115px;
    border-radius: 20px;
  }
  .slide2 > .small_phone .cam {
    height: 5.8px;
    width: 5.8px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slide2 > .small_phone .cam .infra {
    height: 2.6px;
    width: 2.6px;
  }
  .slide2 > .small_phone .volum {
    height: 3px;
    width: 22px;
  }
  .slide2 > .small_phone .display1 {
    height: 150.5px;
    width: 96px;
    margin: 0;
  }
  .slide2 > .small_phone .home {
    height: 20px;
    width: 20px;
    margin: 0;
  }

  #Our_Services > div > div > h2 {
    margin-left: 32px;
  }
  #Our_Services > div > div > p {
    margin-left: 32px;
    margin-right: 29px;
  }
  .services {
  height: auto;
  }
  .blockIcons_servis {
    width: 375px;
    margin-left: 32px;
  }
  .icons_servis {
    margin-bottom: 25px;
  }
  .icons_servis:nth-child(-n + 3) {
    margin-bottom: 25px;
  }
  #Portfolio {
  padding-top: 42px;
  }
  #Portfolio .block_images {
    width: 151px;
    height: 128px;
    margin-right: 13px;
  }
  #Portfolio > .wrapper {
    padding-left: 30px;
  }
  .gallery {
    padding-right: 15px;
    margin-bottom: 22px;
}
#About {
  padding-top: 33px;
  height: auto;
}
#About > div {
  height: auto;
}
#About h2 {
  margin-left: 30px;
}
#About h3 {
  margin-left: 30px;
  margin-right: 30px;
}
#About > div > div {
  flex-wrap: wrap;
  height: auto;
  margin-left: 31px;
  padding-left: 0;
}
#About > div > div > div {
  margin-left: 0;
  margin-right: 0;
  width: auto;
  height: auto;
}
#About > div > div > div > div > img {
  width: 314px;
  height: 314px;
}
#About > div > div > div > div.photo_id {
  width: auto;
  height: auto;
  max-width: 314px;
  max-height: 314px;
  margin-bottom: 18px;
  flex-shrink: 0;
}
.text_id {
  margin-bottom: 15px;
}
.icons_id {
  margin-bottom: 34px;
}
#About > div > div > div:nth-child(3) > div.icons_id.main_flex {
  margin-bottom: 45px;
}
.container form {
  width: 315px;
  margin-bottom: 32px;
}
.container form button {
  width: 315px;
}
#GetQuote .container {
  flex-wrap: wrap;
}
#GetQuote .wrapper2 {
  margin-left: 30px;
  width: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.copirite {
  display: none;
}
footer .icons_id {
  margin: 0 auto;
}



}